<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container login-container" id="login">
        <div class="login-form-container">
          
            <div class="login-form">
                <h2>reset password</h2>
               
<form action="/user/reset-password" method="POST">
    <div class="form-group">
      
        <label for="password">Enter Your new password</label>
        <input type="text" class="form-control" id="password" name="password" placeholder="Enter password" required>
        <label for="password">confirm password</label>
        <input type="text" class="form-control" id="password" name="conform-password" placeholder="Enter password" required>
    </div>

   
    
    <button type="submit" class="btn btn-primary btn-block">Verify OTP</button>
</form>

    
                
            </div>
            <div class="logo">
                <img src="/image/Screenshot%202025-01-02%20185508.png" alt="Logo">
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

