<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container signup-container" id="signup">
        <div class="signup-form-container">
            <div class="signup-form">
                <h2 style="color: antiquewhite;">Sign Up</h2>
                <% if (message && message.length > 0) { %>
                    <p style="color: red;"><%= message %></p>
                <% } %>
                <form action="/user/signup" method="POST">
                    <div class="form-group">
                        <label for="fname">First Name:</label>
                        <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter first name" required>
                    </div>
                    <div class="form-group">
                        <label for="lname">Last Name:</label>
                        <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter last name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <small>Create a strong password (_Aa1#)</small>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                    </div>
                    <div class="form-group">
                        <label for="cpassword">Confirm Password:</label>
                        <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Confirm password" required>
                    </div>
                    <!-- Referral Code Field -->
                    <div class="form-group">
                        <label for="referralCode">Referral Code (Optional):</label>
                        <input type="text" class="form-control" id="referralCode" name="referralCode" placeholder="Enter referral code (if any)">
                    </div>
                    <button type="submit" class="btn btn-danger btn-block button">Send OTP</button>
                </form>
                
                
                
               
                <p class="text-center mt-3" style="color: white;">Already have an account? <a href="/user/login" style="color: #007bff;">Log in</a></p>
            </div>
            <div class="logo">
                <img src="/image/Screenshot 2025-01-02 185508.png" alt="Logo">
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
