

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container login-container" id="login">
        <div class="login-form-container">
            <div class="login-form">
                <h2>OTP</h2>

    <% if (msg) { %>
        <p style="color: red;"><%= msg %></p>
    <% } %>
    <!-- otp.ejs -->
    <form action="/user/forgotverify-otp" method="POST">
        <div class="form-group">
            <label for="otp">Enter the OTP:</label>
            <input type="text" name="otp" class="form-control" placeholder="OTP" required />
            <!-- <input type="hidden" name="email" /> -->
        </div>
        <button type="submit" class="btn btn-primary">Verify OTP</button>
    </form>
    
    

    
                
            </div>
            <div class="logo">
                <img src="/image/Screenshot%202025-01-02%20185508.png" alt="Logo">
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

